*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --achtergrond-kleur: #509CD6;
  --butten-kleur: #C74B0B;
  --jaartal-kleur: #FCBBAD;
  --header-rood: #E62310;
  --header-blauw: #009BD9;
  --header-geel: #FCCF00;
  --header-groen: #44AF35;

}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--achtergrond-kleur);
}


@font-face {
  font-family: 'marioplumber';
  src: url('../fonts/superplumberbrothers-y00v-webfont.woff2') format('woff2'),
    url('../fonts/superplumberbrothers-y00v-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'supermario';
  src: url('../fonts/supermario256-webfont.woff2') format('woff2'),
       url('../fonts/supermario256-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

button:not([disabled]) {
  cursor: pointer;
}


/* **************** */
/* Algemene styling */
/* **************** */

/* styling van de header en titel */

header {
  height: 18vh;
  padding: 1.5em;
}

h1 {
  margin: 0;
  text-align: center;

  font-family: 'supermario';
  font-size: 3.8em;
  letter-spacing: -.3em;

  -webkit-text-stroke: .08em black;
}

h1 span {
  display: inline-block;
  opacity: 0;
  cursor: pointer;
}

h1 span:hover {
  transform: translateY(-.2em);
}

h1 span:nth-of-type(1) {
  animation: rolling 1s ease-in-out 2.3s forwards;
}

h1 span:nth-of-type(2) {
  animation: rolling 1s ease-in-out 2.1s forwards;
}

h1 span:nth-of-type(3) {
  animation: rolling 1s ease-in-out 1.8s forwards;
}

h1 span:nth-of-type(4) {
  animation: rolling 1s ease-in-out 1.5s forwards;
}

h1 span:nth-of-type(5) {
  animation: rolling 1s ease-in-out 1.2s forwards;
}

h1 span:nth-of-type(6) {
  animation: rolling 1s ease-in-out 1s forwards;
}

h1 span:nth-of-type(7) {
  animation: rolling 1s ease-in-out .8s forwards;
}

h1 span:nth-of-type(8) {
  animation: rolling 1s ease-in-out .5s forwards;
}

h1 span:nth-of-type(9) {
  animation: rolling 1s ease-in-out .3s forwards;
}

h1 span:nth-of-type(10) {
  animation: rolling 1s ease-in-out forwards;
}

h1 span:nth-of-type(3), h1 span:nth-of-type(6) {
  color: var(--header-rood);
}

h1 span:nth-of-type(1), h1 span:nth-of-type(9) {
  color: var(--header-blauw);
}

h1 span:nth-of-type(2), h1 span:nth-of-type(5), h1 span:nth-of-type(8) {
  color: var(--header-geel);
}

h1 span:nth-of-type(4), h1 span:nth-of-type(7), h1 span:nth-of-type(10) {
  color: var(--header-groen);
}
 
@keyframes rolling {
  0% {
    opacity: 1;
    transform: translateX(-6em) rotate(-2turn);
  }
  100% {
    opacity: 1;
    transform: translateX(inherit) rotate(0turn);
  } 
}

p {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}


/* styling van de main */

main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 82vh;
}

/* *********** */
/* De tijdlijn */
/* *********** */

menu {
  padding: 0 8%;

  width: 100vw;
  height: 82vh;

  display: flex;
  align-items: center;

  background-image: url(../images/achtergrond.mario.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;

  transition:.6s;
}

menu ol {
  margin-top: -10em;
  padding: 0;
  list-style-type: none;
}

/* jaartallen positioneren op de kaart */
menu ol li {
  position: absolute;
  opacity: 0;
}

menu ol li:nth-of-type(2) {
  left: 20%;
}

menu ol li:nth-of-type(3) {
  left: 44%;
}

menu ol li:nth-of-type(4) {
  left: 56%;
}

menu ol li:nth-of-type(5) {
  left: 86%;
}

menu ol li:last-of-type {
  display: none;
}

menu ol li button {
  padding: 5em 2em;
}

/* jaartallen positioneren na het klikken op een jaartal */
menu.menuVeranderen {
  background-position: 0% -100%;
}

menu.menuVeranderen ol {
  display: block;
  padding: 2em;
  margin: 0;
  margin-left: -2.5em;
}

menu.menuVeranderen ol li {
  display: block;
  position: relative;
  left: 0;
  opacity: 1;
}

menu.menuVeranderen ol li button {
  margin-bottom: 1em;

  background-color: var(--butten-kleur);
  color: var(--jaartal-kleur);

  border: none;
  padding: .8em 2em;
  box-shadow: .1em .1em black, .1em .1em var(--jaartal-kleur) inset;

  font-family: 'marioplumber';
  font-size: 1em;
  letter-spacing: .08em;
  text-shadow: .08em .08em black;
}

/* verschillende states van de buttons */
menu.menuVeranderen ol li button:hover {
  box-shadow: .15em .15em black, .15em .15em var(--jaartal-kleur) inset;
}

menu.menuVeranderen ol li button:focus {
  outline: none;
  box-shadow: .15em .15em black, .15em .15em black inset;
}

menu.menuVeranderen ol li button:active {
  box-shadow: .05em .05em black, .05em .05em var(--jaartal-kleur) inset;
}





/* *********************************** */
/* Algemene stlyling van de nintendo's */
/* *********************************** */

.nintendos {
  position: absolute;
}

.nintendos ol {
  padding: 0;

  display: flex;
  justify-content: center;
  list-style-type: none;
}

.nintendos ol li {
  display: none;
  z-index: 100;

  background-size: 100% auto;
  background-repeat: no-repeat;

  animation: entrance-animation 0.5s cubic-bezier(0.26, 0.53, 0.74, 1.48);
}


/* Animatie om de nintendo binnen te laten komen */
/* bron: https://css-tricks.com/a-handy-little-system-for-animated-entrances-in-css/ */

@keyframes entrance-animation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


/* algemene styling tekstveld naast de nintendo */

.nintendos ol li section:last-of-type {
  position: absolute;
  padding: 2em 2.5em 2.5em 2.5em;
  background-color: #C74B0B;

  box-shadow: 0.1em 0.1em black, 0.1em 0.1em var(--jaartal-kleur) inset;
}

.nintendos ol li section:last-of-type h2 {
  font-family: 'marioplumber';
  font-size: 2em;
  letter-spacing: .08em;
  text-shadow: .08em .08em black;

  margin: 0;

  color: var(--jaartal-kleur);
}

.nintendos ol li section:last-of-type p {
  text-align: left;
  color: var(--jaartal-kleur);
}

.nintendos ol li section:last-of-type a {
  color: var(--jaartal-kleur);
  font-family: 'Courier New', Courier, monospace;
}



/* ***************************** */
/* Game & watch nintendo styling */
/* ***************************** */

.nintendos ol li.gamewatch {
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 17em 2em;

  width: 28em;
  aspect-ratio: 421/282;

  background-image: url("../images/1980.png");
}

.nintendos ol li.gamewatch section:nth-of-type(1),
.nintendos ol li.gamewatch section:nth-of-type(3) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.nintendos ol li.gamewatch section:nth-of-type(1) button,
.nintendos ol li.gamewatch section:nth-of-type(3) button {
  padding: 2em;
  opacity: 0;
}

.nintendos ol li.gamewatch section:nth-of-type(2) {
  margin: 4.2em 1.4em 4.6em 1.3em;
  grid-column-start: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nintendos ol li.gamewatch section:nth-of-type(2) img.level {
  width: 12em;
}

iframe {
  width: 11.6em;
  margin-left: .4em;
  clip-path: inset(.8em 0);
}

.nintendos ol li.gamewatch section:nth-of-type(4) {
  grid-column-start: 2;
  grid-row-start: 2;
}


/* laat de gamewatch en de styling zien na klikken op jaartal */

.nintendos ol li.gamewatch.laatGamewatchZien {
  display: grid;
}


/* styling tekstveld naast de nintendo */

.nintendos ol li.gamewatch section:last-of-type {
  left: 32em;
  width: 20em;
  top: 50%;
  transform: translateY(-50%);
}




/* ***************************** */
/* Gameboy styling nintendo styling */
/* ***************************** */

.nintendos ol li.gameboy {
  grid-template-rows: 16em 1fr;

  width: 18em;
  aspect-ratio: 324/540;

  background-image: url("../images/1989.png");
}

.nintendos ol li.gameboy section:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 3em 3.6em 2em 4.2em;
  overflow: scroll;
}

.nintendos ol li.gameboy section:nth-of-type(1) img.begin, .nintendos ol li.gameboy section:nth-of-type(1) img.level {
  height: 9.2em;
  width: auto;
}

/* na het klikken op start begint het spel */
.nintendos ol li.gameboy section:nth-of-type(1) img.begin {
  position: absolute;
  z-index: 10;
}

.nintendos ol li.gameboy section:nth-of-type(1) img.begin.jeKanNuSpelen {
  opacity: 0;
  transition: 1s;
}

.nintendos ol li.gameboy section:nth-of-type(1) img.mario {
  position: absolute;

  margin-top: 2em;
  width: 2em;
}

.nintendos ol li.gameboy section:nth-of-type(2) {
  grid-row-start: 2;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  margin-bottom: 4em;
}

.nintendos ol li.gameboy section:nth-of-type(2) button {
  padding: 2em;
  opacity: 0;
}


/* laat de gameboy en de styling zien na klikken op jaartal */

.nintendos ol li.gameboy.laatGameboyZien {
  display: grid;
}


/* styling tekstveld naast de nintendo */

.nintendos ol li.gameboy section:last-of-type {
  left: 22em;
  width: 20em;
  top: 50%;
  transform: translateY(-50%);
}




/* **************************************** */
/* Gameboy advance styling nintendo styling */
/* **************************************** */

.nintendos ol li.advance {
  grid-template-columns: 6em auto 6em;

  width: 26em;
  aspect-ratio: 1181/677;

  background-image: url("../images/2001.png");
}

.nintendos ol li.advance section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  width: 8em;
  margin: 2.6em 2em 4.7em 3em;

  overflow: scroll;
}

.nintendos ol li.advance section:nth-of-type(1) ol li {
  display: block;

  margin-top: 5.6em;
  opacity: 0;

  animation: none;
}

.nintendos ol li.advance section:nth-of-type(2) img.level {
  height: 7.1em;
  width: auto;
}

.nintendos ol li.advance img.mario {
  position: absolute;
  top: 11em;

  width: 1em;
}

/* laat de advance en de styling zien na klikken op jaartal */

.nintendos ol li.advance.laatAdvanceZien {
  display: grid;
}

/* styling tekstveld naast de nintendo */

.nintendos ol li.advance section:last-of-type {
  left: 30em;
  width: 20em;
  top: 50%;
  transform: translateY(-50%);
}

.nintendos ol li.advance section:nth-of-type(2) img.mario.ikLoopNaarLinks {
  animation: loopNaarLinks 1.4s linear ;
}

@keyframes loopNaarLinks {
  0% {
    transform: translatex(0) scaleX(-1);
  }
  100% {
    transform: translatex(-3em) scaleX(-1);
  }
}

.nintendos ol li.advance section:nth-of-type(2) img.mario.ikLoopNaarRechts {
  animation: loopNaarRechts 1.4s linear ;
}

@keyframes loopNaarRechts {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(3em);
  }
}



/* ************************************ */
/* Nintendo DS styling nintendo styling */
/* ************************************ */

.nintendos ol li.ds {
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;

  width: 26em;
  aspect-ratio: 866/907;

  background-image: url("../images/2016.png");
}

.nintendos ol li.ds section:nth-of-type(1) {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
}

.snowflake {
  position: fixed;
  display: block;
  user-select: none;
  z-index: 1000;
  pointer-events: none;
  width: 2em;
  height: auto;
}

/* .snowflake.mushroomsVallenNu {
  display: block;
} */

.nintendos ol li.ds section:nth-of-type(2) {
  grid-column-start: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  margin: 1em .5em 2.5em .6em;

  overflow: scroll;
}

.nintendos ol li.ds section:nth-of-type(2) img.level {
  height: 9.1em;
  width: auto;
}

.nintendos ol li.ds section:nth-of-type(2) img.mario {
  position: absolute;
  width: 4em;
  transform: scaleX(-1);
}

.nintendos ol li.ds section:nth-of-type(3) {
  grid-column-start: 2;
  grid-row-start: 2;

  margin: 2.2em .4em 1.25em .4em;
}

.nintendos ol li.ds section:nth-of-type(3) img {
  height: 9.2em;
}

.nintendos ol li.ds section:nth-of-type(4) {
  grid-column-start: 3;
  grid-row-start: 2;

  margin-top: 1em;
}


/* laat de ds en de styling zien na klikken op jaartal */

.nintendos ol li.ds.laatDsZien {
  display: grid;
}

/* styling tekstveld naast de nintendo */

.nintendos ol li.ds section:last-of-type {
  left: 30em;
  width: 20em;
  top: 50%;
  transform: translateY(-50%);
}







/* **************************************** */
/* Nintendo switch styling nintendo styling */
/* **************************************** */

.nintendos ol li.switch {
  grid-template-columns: 1fr 6fr 1fr;

  width: 34em;
  aspect-ratio: 1446/618;

  background-image: url("../images/2017.png");
}

.nintendos ol li.switch.laatSwitchZien {
  display: grid;
}

.nintendos ol li.switch section:nth-of-type(1) {
  grid-column-start: 1;
}

.nintendos ol li.switch section:nth-of-type(1) button {
  margin: 2.8em 0 0 1em;
  padding: 1em;
  opacity: 0;
}

.nintendos ol li.switch section:nth-of-type(2) {
  grid-column-start: 2;
  margin: 1.8em 3em 1.8em 3em;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  overflow: scroll;
}

.nintendos ol li.switch section:nth-of-type(2) img.level {
  height: 11.1em;
  width: auto;
}

/* laat de gamewatch en de styling zien na klikken op jaartal */

.nintendos ol li.switch.laatDsZien {
  display: grid;
}


/* styling tekstveld naast de nintendo */

.nintendos ol li.switch section:last-of-type {
  width: 20em;
  left: 38em;
  top: 50%;
  transform: translateY(-50%);
}


/* controls stijlen aan de rechterkant nintendo switch */
.nintendos ol.controlsrechts {
  display: grid;
  grid-template-columns: 1.4em 1.4em 1.4em;
  grid-template-rows: 1em 1em 1em;

  margin-top: 2.2em;
  opacity: 0;
}

.nintendos ol.controlsrechts li {
  display: block;
}

.nintendos ol.controlsrechts li:nth-of-type(1) {
  grid-column-start: 2;
}

.nintendos ol.controlsrechts li:nth-of-type(2) {
  grid-column-start: 3;
  grid-row-start: 2;
}



/* *********************************** */
/* Animatie achtergrond laten scrollen */
/* *********************************** */

/* scrollbar verbergen bron: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
.nintendos ol li.switch section:nth-of-type(2)::-webkit-scrollbar, .nintendos ol li.advance section:nth-of-type(2)::-webkit-scrollbar, .nintendos ol li.ds section:nth-of-type(2)::-webkit-scrollbar, .nintendos ol li.gameboy section:nth-of-type(1)::-webkit-scrollbar {
  display: none;
}

/* animatie achtergrond gameboy horizontaal laten scrollen */
.nintendos ol li.gameboy section:nth-of-type(1) img.level {
  animation: scrollHorizontaalGameboy 12s linear;
}

@keyframes scrollHorizontaalGameboy {
  0% {
    transform: translatex(0);
  }

  100% {
    transform: translatex(-15em);
  }
}


/* animatie achtergrond gameboy advance horizontaal laten scrollen */
.nintendos ol li.advance section:nth-of-type(2) img.level {
  animation: scrollHorizontaalAdvance 20s linear;
}

@keyframes scrollHorizontaalAdvance {
  0% {
    transform: translatex(0);
  }

  100% {
    transform: translatex(-30em);
  }
}

/* animatie achtergrond nintendo ds horizontaal laten scrollen */
.nintendos ol li.ds section:nth-of-type(2) img.level {
  animation: scrollHorizontaalDs 6s linear;
}

@keyframes scrollHorizontaalDs {
  0% {
    transform: translatex(0);
  }

  100% {
    transform: translatex(-6em);
  }
}

/* animatie achtergrond nintendo switch horizontaal laten scrollen */
.nintendos ol li.switch section:nth-of-type(2) img.level {
  animation: scrollHorizontaalSwitch 16s linear;
}

@keyframes scrollHorizontaalSwitch {
  0% {
    transform: translatex(0);
  }

  100% {
    transform: translatex(-86em);
  }
}


/* ************ */
/* Acties mario */
/* ************ */

/* lopend mario gifje */
.nintendos ol li img.mario {
  position: absolute;
  margin-top: -1.8em;
  z-index: 1;

  width: 3em;

}

/* animatie Mario laten springen */
img.mario.ikBenAanHetSpringen {
  animation: springen 1s linear;
  transition: .2s;
}

@keyframes springen {
  0% {
    transform: translatey(0);
    animation-timing-function: ease-out;
  }

  50% {
    transform: translatey(-2em);
    animation-timing-function: ease-in;
  }

  100% {
    transform: translatey(0);
  }
}

/* animatie Mario groter laten worden */
img.mario.ikBenAanHetGroeien {
  animation: groeien 4s linear forwards;
  transition: .2s;
}

@keyframes groeien {
  0% {
    transform: translateY(-.5em) scale(1);
    animation-timing-function: ease-out;
  }
  10% {
    transform: translateY(-2em) scale(2);
    animation-timing-function: ease-in;
  }
  30% {
    transform: translateY(-3em) scale(3);
  }
  80% {
    transform: translateY(-3em) scale(3);
  }
  90% {
    transform: translateY(-2em) scale(2);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(-.5em) scale(1);
    animation-timing-function: ease-out;
  }
}
